body {
font-family: Anton sans-serif;
letter-spacing: 2px;
background-color: #fcfcfd;
color: #212529;
}

.container {
max-width: 600px;
}

h1 {
    font-family: Anton, cursive;
    font-size: 3rem;
    letter-spacing: 2px;
}

